/***************************
GENERAL: created by me

***************************/
body {
 font-family: 'Open Sans', sans-serif;
 padding: 0;
 margin: 0;
 background-color: #ffffff;
}

a{
  text-decoration:none;
  color: #A55723;
  transition-duration: .5s;
}

a:hover, a:visited  {
  color: #E77917;
}


img {
  max-width: 100%;
}

h1 {
  font-family: 'Cinzel', serif;
  font-size: 2em;
  font-weight: 700;
  color: #E45400;
  text-align: center;
}

p {
  font-family: 'Maven Pro', serif;
  font-weight: 400;
  font-size: 0.75em;
  color: #E45400;
}

.wrapper {
  max-width: 100%;
  margin-left: auto;
  margin-right: 2.5%;
  padding: 5%;
}


/***************************
NAVIGATION BAR
***************************/
.nav-back {
  z-index: 3;
  width: 100%;
  position: fixed;
  padding-top: 15px;
  /* Adds shadow to the bottom of the bar */
  -webkit-box-shadow: 0px 0px 8px 0px #000000;
  -moz-box-shadow: 0px 0px 8px 0px #000000;
  box-shadow: 0px 0px 8px 0px #000000;

  /* Adds the transparent background */ 
  background: -moz-linear-gradient(top,  rgba(17,17,17,0.92) 0%, rgba(17,17,17,0.82) 30%, rgba(10,10,10,0.71) 60%, rgba(3,3,3,0.58) 87%, rgba(0,0,0,0.52) 99%, rgba(0,0,0,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(17,17,17,0.92)), color-stop(30%,rgba(17,17,17,0.82)), color-stop(60%,rgba(10,10,10,0.71)), color-stop(87%,rgba(3,3,3,0.58)), color-stop(99%,rgba(0,0,0,0.52)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(17,17,17,0.92) 0%,rgba(17,17,17,0.82) 30%,rgba(10,10,10,0.71) 60%,rgba(3,3,3,0.58) 87%,rgba(0,0,0,0.52) 99%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(17,17,17,0.92) 0%,rgba(17,17,17,0.82) 30%,rgba(10,10,10,0.71) 60%,rgba(3,3,3,0.58) 87%,rgba(0,0,0,0.52) 99%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(17,17,17,0.92) 0%,rgba(17,17,17,0.82) 30%,rgba(10,10,10,0.71) 60%,rgba(3,3,3,0.58) 87%,rgba(0,0,0,0.52) 99%,rgba(0,0,0,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(17,17,17,0.92) 0%,rgba(17,17,17,0.82) 30%,rgba(10,10,10,0.71) 60%,rgba(3,3,3,0.58) 87%,rgba(0,0,0,0.52) 99%,rgba(0,0,0,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb111111', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

nav#nav-main ul {
  list-style: none;
}

nav#nav-main li a{
  font-family: 'Cinzel', serif;
  font-weight: 400;
  font-size: 1.15em;
  color: #E77917;
  text-decoration: none;
  border-radius: 8px;
  border: solid 1px transparent;
  padding: .15em;
  background-color: rgba(232, 228, 228, 0.2);
  transition-duration: .5s;
}

nav#nav-main a:visited {
  color: #E77917;
}

nav#nav-main a:hover{
  color: #F0691B;
  background-color: rgba(232, 228, 228, 0.9);
  /*border: solid 1px #E77917;*/
  border-bottom: solid 7px #E77917;
}

#nav-trigger {
  display: none;
  text-align: right;
  }
  
#nav-trigger span {
  font-family: 'Cinzel', serif;
  font-weight: 400;
  color: #E77917;
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  text-transform: uppercase; 
}
#nav-trigger span:after {
  display: inline-block;
  margin-left: 10px;
  width: 20px;
  height: 10px;
  content: "";
  border-left: solid 10px transparent;
  border-top: solid 10px #fff;
  border-right: solid 10px transparent; 
}

#nav-trigger span.open:after {
  border-left: solid 10px transparent;
  border-top: none;
  border-bottom: solid 10px #fff;
  border-right: solid 10px transparent; 
}

nav#nav-mobile {
  position: relative;
  display: none; 
}

nav#nav-mobile ul {
  display: none;
  list-style-type: none;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: rgba(232, 228, 228, 0.9);
  padding: .15em;
  border-radius: 8px;
  transition-duration: .5s; 
}

nav#nav-mobile li {
  display: block;
  padding: 5px 0;
  margin: 0 5px;
  border-bottom: solid 1px #000000; 
}

nav#nav-mobile li:last-child {
  border-bottom: none; 
}

nav#nav-mobile a {
  display: block;
  font-family: 'Cinzel', serif;
  font-weight: 400;
  padding: .15em;
  color: #E77917;
  text-decoration: none;
  font-size: 1.15em;
  transition-duration: .5s;
  padding: 10px 30px; 
}

nav#nav-mobile a:hover {
  color: #F0691B;
  background-color: rgba(232, 228, 228, 1);
}

.active_page {
  background-color: rgba(232, 228, 228, 0.9);
  padding: .15em;
  border-radius: 8px;
  border-bottom: solid 7px #E77917;
}

/***************************
FOOTER
***************************/
footer{
  font-size: 1.1em;
  text-align: center;
  clear: both;
  padding-top: 50px;
}

footer a {
  font-family: 'Cinzel', serif;
  font-weight: 400;
  color: #E77917;
  text-align: center;
  background-color: rgba(232, 228, 228, 0.2);
  padding: .45em;
  border-radius: 8px;
  transition-duration: .5s;
}

footer a:hover {
  background-color: rgba(232, 228, 228, 0.9);
  color: #F0691B;
}

/***************************
PAGE PORTFOLIO
***************************/

.gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}

.gallery li {
  float: left;
  width: 45%;
  margin: 2.5%;
  background-color: #f5f5f5;
  color: #bdc3c7;
}

.gallery li a p{
  margin: 0;
  padding: 5%;
  font-size: 0.75em;
  color: #bdc3c7;
}

/***************************
BACKGROUND
****************************/
.homebase {
  padding: 50px 0px 100px;
  margin-top: -15px;
  background: no-repeat center center fixed;
}

.homepage {
  background-image: url('../img/creepytrees.jpg'); 
  background-color: black;
}


/***************************
BX-SLIDER
****************************/
#slider1_container {
  position: relative; 
  left: 10%;
  right: 10%; 
  width: 80%;
  height: 300px; 
  margin-top: 0%;
}

.text_box {
  background-color: rgba(232, 228, 228, 0.8);
  border-radius: 8px;
  padding: 10px;
  transition-duration: .5s;
  width: 100%;
  border: solid 2px transparent;
}

.text_box:hover {
  background-color: rgba(232, 228, 228, 1);
  border: solid 2px #A55723;
}

/***************************
SLIDE 1
***************************/
.introtext p {
  text-align: left;
}

.google-maps {
  margin-top: 10px;
  padding-bottom: 100%; // This is the aspect ratio
  height: 0;
  overflow: hidden;
  margin-bottom: -100%;
}

/***************************
SLIDE 2
***************************/
.slide2 {
  width: 100%;
}

.slide2 img{
  width: 20%;
}

.slide2 p {
  margin: 2% 5%;
  padding: 3%;
}

/***************************
Trick-or-Treat Page
***************************/
.tot p {
  text-align: left;
  font-size: .55em;
  margin: 2%;
}

.tot ul {
  text-align: left;
  font-size: .55em;
  margin: 2%;
}

.tot img {
  float: right;
  margin: 0px 15px 15px 0px;
  width: 30%;
}

/***************************
News Headlines
***************************/

.news_box {
  padding: 0;
  list-style: none;
}

.news_box li {
  float: left;
  margin: 1%;
  border-radius: 8px;
  background-color: rgba(232, 228, 228, 0.8);
  transition-duration: .5s;
}

.news_box li h1 {
  font-size: 0.95em;
  text-align: center;
  background: black;
  font-family: 'Cinzel', serif;
  font-weight: 400;
  color: #E77917;
}

.news_box li h2 {
  font-size: 0.95em;
  text-align: left;
  font-family: 'Cinzel', serif;
  font-weight: 400;
  padding-left: 5%;
}

.news_box li h2 a {
  color: #000;
}

.news_box li:hover {
  background-color: rgba(232, 228, 228, 1);
}
.news_box li:hover h2 a {
  color: #E45400;
}

.news_box li img {
  float: left;
  width: 50%;
  padding-left: 5%;
  padding-right: 2%;
}

.news_box li p{
  font-family: 'Maven Pro', serif;
  font-weight: 400;
  font-size: 0.75em;
  color: #000000;
  margin: 0;
  padding: 5%;
}

.news_box li p a {
  transition-duration: .5s;
  color: #E45400;
}

.news_box li p a:hover {
  color: #E77917;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/***************************
Pictures
***************************/
 .main-image .caption {
   width: 100%; 
   z-index: 2;
   bottom: 0;
   margin-top: -36px;
 }

 .main-image .caption span { 
  color: white; 
  font-family: 'Maven Pro', serif;
  font-weight: 400;
  font-size: .95em;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px; 
  border-top-right-radius: 25px;
}

.main-image img {
  border: solid 2px #fff;
  z-index: 1;
}

.thumbnails {
  padding: 0;
  list-style: none;
}

.thumbnails li{
  float: left;
  overflow: hidden;
}

.thumbnails li img{
  max-width: 100%;
  border: solid 2px #fff;
  transition-duration: .5s;
}

.thumbnails li img:hover{
  border: solid 2px #A55723;
}

.thumbnails li:nth-child(5n+6) {
    clear: left; 
}

/***************************
News Headlines
***************************/
.video_box {
  padding: 0;
  list-style: none;
}

.video_box li {
  float: left;
  margin: 1%;
  border-radius: 8px;
  background-color: rgba(232, 228, 228, 0.8);
  transition-duration: .5s;
}

.video_box li h1 {
  font-size: 0.95em;
  text-align: center;
  font-family: 'Cinzel', serif;
  font-weight: 400;
}

.video_box li h1 a {
  color: #000000;
}

.video_box li:hover {
  background-color: rgba(232, 228, 228, 1);
}
.video_box li:hover h1 a {
  color: #E45400;
}

/************************
PAGE ABOUT
***************************/
.profile-photo{
  display: block;
  max-width:200px;
  margin: 0 auto 30px;
  border-radius: 100%;
}

.images-about {
  margin-left: auto;
  margin-right: auto;
  margin: 0 30px;
  max-width: 100px
}

/***************************
PAGE CONTACT
***************************/
.social-icons {
  margin-top: 10%;
}

.social-icons img {
  width: 15%;
  padding: 1%;
  margin: 1%;
  border-radius: 50%;
  background: white;
  transition-duration: .5s;
  border: solid 10px transparent;
}

.social-icons img:hover {
  border: solid 10px #E77917;
}
