@media screen and (max-width: 670px) {
 /*********************************
 NAVIGATION BAR FOR MOBILE BEGIN
 *********************************/ 
  .wrapper {
    padding: 15% 10%;
  }

  #nav-trigger {
    display: block; }

  nav#nav-main {
    display: none; }

  nav#nav-mobile {
    display: block; 
    width: 40%
    float: right;
  }

  .nav-back a img{
    float: left;
    width: 30%;
    margin-left: 5%;
  }

 /*********************************
 NAVIGATION BAR FOR DESKTOP END
 *********************************/

  .introtext{
    width: 100%;
  }

  .google-maps {
    width: 100%;
  }

  .news_box li {
    width: 47%;
  }
  .news_box li:nth-child(2n+3) {
    clear: left; 
  }

  .main-image {
    padding: 2% 2%;
    width: 98%;
  }

  .thumbnails li{
    width: 18%;
    padding: 1%;
  }

  .main-image .caption {
    position: relative;
    margin-top: -8%;
  }

  /***************************
  2-Column layout
  ***************************/
  #primary{
    width: 50%;
    float: left;
  }
  
  #secondary{
    width: 40%;
    float: right;
  }
  
  
  /***************************
  PAGE: PORTFOLIO 3-Column layout
  ***************************/

  #gallery li {
    width: 28.3333%;
  }
  
  #gallery li:nth-child(3n) {
    clear: left; 
  }
    
  
  /***************************
  PAGE: ABOUT
  ***************************/
  .profile-photo {
    float: left;
    margin: 0 5% 80px 0;
  }
  
  
  
}


@media screen and (min-width: 671px) {
 /*********************************
 NAVIGATION BAR FOR DESKTOP BEGIN
 *********************************/
  .nav-back {
    height: 12%; 
  }
  
  .nav-back a img{
    float: left;
    width: 18%;
    margin-left: 5%;
  }

  #nav-main {
    margin-right: 5%;
    float: right;
    text-align: right;
    width: 72%;
  }

  #nav-main li {
    display: inline-block; 
    margin: 5px;
   }
 /*********************************
 NAVIGATION BAR FOR DESKTOP END
 *********************************/

  .introtext{
    float: left;
    width: 50%;
  }

  .google-maps {
    float: right;
    width: 45%;
  }

  .news_box li {
    width: 23%;
  }
  .news_box li:nth-child(4n+5) {
    clear: left; 
  }

  .main-image {
    position: relative;
    float: right;
    width: 55%;
  }

  .thumbnails {
    float: left;
    width: 45%;
  }
  .thumbnails li{
    width: 15%;
    padding: 1%;
  }

  .main-image .caption {
    position: absolute;
    margin: 0;
  }
}